/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@mixin modal-base($color: #d6d6bc, $padding: 20px, $text-align: center){
  background: ‎$color;
  padding: $padding;
  text-align: $text-align;
  border: thin solid black;
}
@mixin nav-style($color){
  background-color: $color;
}
[id*="hide-show-"]:not(:target){
  display: none;
}
[id*="hide-show-"]:target{
  display: block;
}
#nav-side, #nav-left-side{
  position: fixed;
  top: 0;
  height:100%;
  width: 80%;
  max-width: 400px;
}
#nav-side:not(:target){
  right: 100%;
  transition: right 1.5s;
}
#nav-left-side:not(:target){
  left: 100%;
  transition: left 1.5s;
}
#nav-side:target{
  right: 0;
  transition: right 1s;
}
#nav-left-side:target{
  left: 0;
  transition: left 1s;
}
[id*="modal-container-"]{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  @include modal-base;
  width: 70%;
  &-LG{
    @include modal-base;
    width: 100%;
  }
  &-SM{
    @include modal-base;
    width: 35%;
  }
}

.modal-right{
  @include modal-base($text-align: left);
   &-LG{
     @include modal-base($text-align: left);
     width: 100%;
   }
   &-SM{
     @include modal-base($text-align: left);
     width: 35%;
   }
}

[id*="modal-container-"]:not(:target){
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}
[id*="modal-container-"]:target{
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 1s;
}

#slider{
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 200px;
    &:target{
      transition: all .5s ease-in-out;
    }
    &:not(:target), &:target ~ img[id*="slide-"]{
      position: reslative;
      opacity: 0;
    }
    &[id*="slide-"]{
      position: absolute;
      opacity: 1;
    }
  }
}
