/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@mixin modal-base($color: #d6d6bc, $padding: 20px, $text-align: center){
  background: ‎$color;
  padding: $padding;
  text-align: $text-align;
  border: thin solid black;
}
@mixin nav-style($color){
  background-color: $color;
}
[id*="hide-show-"]:not(:target){
  display: none;
}
[id*="hide-show-"]:target{
  display: block;
}
#nav-side, #nav-left-side{
  position: fixed;
  top: 0;
  height:100%;
  width: 80%;
  max-width: 400px;
}
#nav-side:not(:target){
  right: 100%;
  transition: right 1.5s;
}
#nav-left-side:not(:target){
  left: 100%;
  transition: left 1.5s;
}
#nav-side:target{
  right: 0;
  transition: right 1s;
}
#nav-left-side:target{
  left: 0;
  transition: left 1s;
}
[id*="modal-container-"]{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  @include modal-base;
  width: 70%;
  &-LG{
    @include modal-base;
    width: 100%;
  }
  &-SM{
    @include modal-base;
    width: 35%;
  }
}

.modal-right{
  @include modal-base($text-align: left);
   &-LG{
     @include modal-base($text-align: left);
     width: 100%;
   }
   &-SM{
     @include modal-base($text-align: left);
     width: 35%;
   }
}

[id*="modal-container-"]:not(:target){
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}
[id*="modal-container-"]:target{
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 1s;
}
// View Switcher
#slider {
  // all of this slider stuff is decorative
  display: block;
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  background-color: #c69;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 200px;
    transition: all .5s ease-in-out;

    &:target {
      transition: all .5s ease-in-out;
    }

    &:not(:target),
    &:target ~ img#slide-4  {
      position: relative;
      opacity: 0;
    }

    &#slide-4 {
      position: absolute;
      opacity: 1;
    }
  }

  // nav additional styling
  ul {
    position: absolute;
    top: 0;
    left: -2em;
    list-style: none;

    li {
      width: 1.25em;
      height: 1.25em;
      font-family: monospace;
      font-size: 1.5em;
      border-radius: 50%;
      background: wheat;
      text-align: center;
      margin-top: .7em;

      &:hover {
        background: #ece;
      }

      a {
        text-decoration: none;
        color: #c69;
      }
    }
  }
}

// in case images break

#slide-1 {
  background-color: wheat;
}

#slide-2 {
  background-color: #eee;
}

#slide-3 {
  background-color: #d70;
}

#slide-4 {
  background-color: #e50;
}

// Scroll Indicator
$scroller-height: 6px;
$scroller-color: #c69;
$scroller-background: #ddd;
$body-background: white;

html,body {
    margin: 0;
}

.scroller {
    position: fixed;
    top: 0;
    height: 0;
    width: 100%;
    background: $body-background;
}

main {
    margin-top: 0;
}

body {
    background: linear-gradient(to right top,
      $scroller-color 50%,
      $scroller-background 50%);
    //6px = height of scroller but calc won't work with variables
  background-size: 100% calc(100% - 100vh +  #{-$scroller-height});
    background-repeat: no-repeat;
}

body:before {
    content:'';
    position: fixed;
    top: $scroller-height;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background: $body-background;
}
