@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/screen.scss */
[id*="hide-show-"]:not(:target) {
  display: none;
}

/* line 18, ../sass/screen.scss */
[id*="hide-show-"]:target {
  display: block;
}

/* line 21, ../sass/screen.scss */
#nav-side, #nav-left-side {
  position: fixed;
  top: 0;
  height: 100%;
  width: 80%;
  max-width: 400px;
}

/* line 28, ../sass/screen.scss */
#nav-side:not(:target) {
  right: 100%;
  transition: right 1.5s;
}

/* line 32, ../sass/screen.scss */
#nav-left-side:not(:target) {
  left: 100%;
  transition: left 1.5s;
}

/* line 36, ../sass/screen.scss */
#nav-side:target {
  right: 0;
  transition: right 1s;
}

/* line 40, ../sass/screen.scss */
#nav-left-side:target {
  left: 0;
  transition: left 1s;
}

/* line 44, ../sass/screen.scss */
[id*="modal-container-"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 55, ../sass/screen.scss */
.modal {
  background: ‎ #d6d6bc;
  padding: 20px;
  text-align: center;
  border: thin solid black;
  width: 70%;
}
/* line 58, ../sass/screen.scss */
.modal-LG {
  background: ‎ #d6d6bc;
  padding: 20px;
  text-align: center;
  border: thin solid black;
  width: 100%;
}
/* line 62, ../sass/screen.scss */
.modal-SM {
  background: ‎ #d6d6bc;
  padding: 20px;
  text-align: center;
  border: thin solid black;
  width: 35%;
}

/* line 68, ../sass/screen.scss */
.modal-right {
  background: ‎ #d6d6bc;
  padding: 20px;
  text-align: left;
  border: thin solid black;
}
/* line 70, ../sass/screen.scss */
.modal-right-LG {
  background: ‎ #d6d6bc;
  padding: 20px;
  text-align: left;
  border: thin solid black;
  width: 100%;
}
/* line 74, ../sass/screen.scss */
.modal-right-SM {
  background: ‎ #d6d6bc;
  padding: 20px;
  text-align: left;
  border: thin solid black;
  width: 35%;
}

/* line 80, ../sass/screen.scss */
[id*="modal-container-"]:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}

/* line 85, ../sass/screen.scss */
[id*="modal-container-"]:target {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 1s;
}

/* line 91, ../sass/screen.scss */
#slider {
  display: block;
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  background-color: #c69;
}
/* line 101, ../sass/screen.scss */
#slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 200px;
  transition: all .5s ease-in-out;
}
/* line 109, ../sass/screen.scss */
#slider img:target {
  transition: all .5s ease-in-out;
}
/* line 113, ../sass/screen.scss */
#slider img:not(:target), #slider img:target ~ img#slide-4 {
  position: relative;
  opacity: 0;
}
/* line 119, ../sass/screen.scss */
#slider img#slide-4 {
  position: absolute;
  opacity: 1;
}
/* line 126, ../sass/screen.scss */
#slider ul {
  position: absolute;
  top: 0;
  left: -2em;
  list-style: none;
}
/* line 132, ../sass/screen.scss */
#slider ul li {
  width: 1.25em;
  height: 1.25em;
  font-family: monospace;
  font-size: 1.5em;
  border-radius: 50%;
  background: wheat;
  text-align: center;
  margin-top: .7em;
}
/* line 142, ../sass/screen.scss */
#slider ul li:hover {
  background: #ece;
}
/* line 146, ../sass/screen.scss */
#slider ul li a {
  text-decoration: none;
  color: #c69;
}

/* line 156, ../sass/screen.scss */
#slide-1 {
  background-color: wheat;
}

/* line 160, ../sass/screen.scss */
#slide-2 {
  background-color: #eee;
}

/* line 164, ../sass/screen.scss */
#slide-3 {
  background-color: #d70;
}

/* line 168, ../sass/screen.scss */
#slide-4 {
  background-color: #e50;
}

/* line 178, ../sass/screen.scss */
html, body {
  margin: 0;
}

/* line 182, ../sass/screen.scss */
.scroller {
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  background: white;
}

/* line 190, ../sass/screen.scss */
main {
  margin-top: 0;
}

/* line 194, ../sass/screen.scss */
body {
  background: linear-gradient(to right top, #c69 50%, #ddd 50%);
  background-size: 100% calc(100% - 100vh +  6px);
  background-repeat: no-repeat;
}

/* line 203, ../sass/screen.scss */
body:before {
  content: '';
  position: fixed;
  top: 6px;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background: white;
}

/* line 213, ../sass/screen.scss */
input[type="radio"] {
  position: absolute;
  opacity: 0;
}
/* line 217, ../sass/screen.scss */
input[type="radio"]:focus + label {
  color: black;
  background-color: wheat;
}

/* line 224, ../sass/screen.scss */
label {
  position: relative;
  display: block;
  cursor: pointer;
  background: #c69;
  color: white;
  padding: .5em;
  border-bottom: 1px solid white;
}

/* line 235, ../sass/screen.scss */
section {
  height: 0;
  transition: .3s all;
  overflow: hidden;
}

/* line 242, ../sass/screen.scss */
#toggle1:checked ~ #content1,
#toggle2:checked ~ #content2,
#toggle3:checked ~ #content3,
#toggle4:checked ~ #content4 {
  height: 150px;
}

/* line 253, ../sass/screen.scss */
body {
  font-family: monospace;
  font-size: 1.5;
}

/* line 258, ../sass/screen.scss */
p {
  padding: 0 2em;
}

/* line 262, ../sass/screen.scss */
.togglebox {
  margin: 0 auto;
  width: 50%;
  border: 1px solid #c69;
}

/* line 272, ../sass/screen.scss */
.thumbnail {
  max-width: 80px;
  margin: 2em auto;
  display: block;
}

/* line 278, ../sass/screen.scss */
.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

/* line 293, ../sass/screen.scss */
.lightbox img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

/* line 300, ../sass/screen.scss */
.lightbox:target {
  outline: none;
  display: block;
}

/* line 305, ../sass/screen.scss */
.tabs {
  position: relative;
  min-height: 180px;
  display: block;
  margin: 1em auto 0;
  width: 460px;
}

/* line 314, ../sass/screen.scss */
.tab {
  float: left;
}

/* line 319, ../sass/screen.scss */
.tab label {
  cursor: pointer;
  background: #c69;
  font-size: 1.2em;
  border-radius: 5px 5px 0 0;
  padding: .5em 1em;
}

/* line 327, ../sass/screen.scss */
.tab [type=radio] {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
/* line 334, ../sass/screen.scss */
.tab [type=radio]:focus + label {
  outline: 2px dotted #000;
}

/* line 339, ../sass/screen.scss */
.content {
  background: wheat;
  border: 1px solid #c69;
  border-radius: 0 5px 5px;
  padding: .5em 2em;
  max-width: 450px;
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

/* line 350, ../sass/screen.scss */
[type=radio]:checked ~ label {
  z-index: 2;
  background: #c99;
}

/* line 355, ../sass/screen.scss */
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
  opacity: 1;
}

/* line 360, ../sass/screen.scss */
body {
  font-family: monospace;
  font-size: 1.1em;
}
